[submodule "docs"]
	path = docs
	url = https://github.com/adrian-ub/astro-vitesse.git
[submodule "src/lib/ai/bias-detection"]
	path = src/lib/ai/bias-detection
	url = https://github.com/nochadisfaction/bias-detection
