registry=https://registry.npmjs.org/
fetch-retries=3
fetch-retry-factor=10
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
fetch-timeout=300000
network-concurrency=1
prefer-offline=false
strict-ssl=true
use-node-version=18 