# fly.toml app configuration file generated for pixelated on 2025-03-26T05:27:27-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'pixelated'
primary_region = 'ord'

[build]

[http_service]
internal_port = 4321
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[[vm]]
memory = '1gb'
cpu_kind = 'shared'
cpus = 1

[env]
NODE_ENV = "production"

[build.args]
DOCKER_BUILDKIT = "1"
BUILDKIT_INLINE_CACHE = "1"

[secrets]
