<div
  class="group block of-hidden border:(~ base rounded-lg) hover:(scale-101 shadow-xl z-10) transition-all duration-500 bg-base relative"
>
  <div class="prose prose-sm p4 m0 pb3">
    <div class="prose m-auto slide-enter-content">
      <slot />
    </div>
  </div>
</div>
