<p>{Astro.locals.t('sponsor.thanks')}</p>

<p class="flex gap-2 flex-wrap">
  <a href="https://github.com/sponsors/adrian-ub" target="_blank" class="group inline-block btn-rose">
    <span i-ph-heart-duotone group-hover="i-ph-heart-fill text-rose" transition-all duration-200 ease-out></span>
    {Astro.locals.t('sponsor.to-suport')} Adrián
  </a>
  <a href="https://github.com/sponsors/antfu" target="_blank" class="group btn-yellow inline-block">
    <span i-ph-lightning-duotone group-hover="i-ph-lightning-fill text-yellow" transition-all duration-200 ease-out>
    </span>
    {Astro.locals.t('sponsor.to-suport')} Anthony
  </a>
</p>
