---
import Stats from '@components/tailus/Stats.astro';
import HeroSection from '@components/tailus/HeroSection.astro';
import TailusLayout from '@layouts/TailusLayout.astro';
import Testimonials from '@components/tailus/Testimonials.astro';
import CallToAction from '@components/tailus/CallToAction.astro';
import BentoGrid from '@components/tailus/BentoGrid.astro';
import SpeedSection from '@components/tailus/SpeedSection.astro';
import AboutSection from '@components/tailus/AboutSection.astro';

// Add prerender directive to generate static HTML during build
export const prerender = true;
---

<TailusLayout title="Pixelated Empathy - AI-Powered Mental Health Support">
	<main class="space-y-16 sm:space-y-28 lg:space-y-32 pb-40 overflow-clip">
		<HeroSection/>
		<AboutSection />
		<BentoGrid />
		<SpeedSection />
		<Stats/>
		<Testimonials/>
		<CallToAction/>
	</main>
</TailusLayout>
