---
import type { Props } from '../props'
---

<p
  class="slide-enter"
  style={{
    backgroundColor: 'rgba(255, 165, 0, 0.1)',
    color: 'orange',
    borderLeft: '3px solid orange',
    padding: '4px 8px',
  }}
>
  {Astro.locals.t('i18n.untranslatedContent')}
</p>
