---
import type { TocHeading } from '../utils/toc'
import TocItem from './TocItem.astro'

export interface Props {
  headings: TocHeading[]
}

const { headings } = Astro.props
---

<div class="table-of-contents">
  <div class="table-of-contents-anchor">
    <div class="i-ri-menu-2-fill"></div>
  </div>
  <ul>
    {headings.map((toc) => <TocItem {...toc} />)}
  </ul>
</div>
